@media (min-width: 1024px) {
    main {
      padding-left: 200px;
    }
  }
  
  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 200px;
    z-index: 600;
  }
  
  @media (max-width: 1024px) {
    .sidebar {
      width: 100%;
    }
  }
  .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }

  #main-navbar {
    display: none;
  }

  .list-item {
    padding: 1rem;
    color: #fff;
    border-radius: 5px;
  }

  .list-item:active {
    color: var(--preto);
    background-color: var(--amarelo);
  }

  .list-item:hover {
    color: var(--preto);
    background-color: var(--amarelo);
  }

  .active {
    background-color: var(--amarelo)!important;
    color: var(--preto)!important;
    padding-left: 0.9rem;
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
  }

  @media screen and (min-width: 0px) and (max-width: 1024px){
    #main-navbar {
        display: block;
      }
  }

  .list-item > i {
    font-size: 1.2rem;
  }

  /*

  .icon-ajust-menu {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .icon-menu-ajust {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .icon-pod {
    vertical-align: middle;
    background-image: url("../img/music.svg");
  }

  .pod:hover {
    .icon-pod {
      vertical-align: middle;
      background-image: url("../img/music-hover.svg");
    }
  }

  .icon-ideias {
    vertical-align: middle;
    background-image: url("../img/smile.svg");
  }

  .ideias:hover {
    .icon-ideias {
      vertical-align: middle;
      background-image: url("../img/smile-hover.svg");
    }
}

*/



