.container-header > .navbar {
    height: 164px;
}

.logo {
    width: 200px;
    margin: 0.3rem;
}

@media screen and (min-width: 0px) and (max-width: 1024px) {

    .container-header > .navbar {
        height: 100%;
    }

    .logo {
        width: 100px;
        margin: 0.3rem;
    }

}

.header-link-item {
    color: var(--branco);
    font-size: 1.4rem;
}

.btn-login {
    width: 90px;
}




